header{
    position:center;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 2px   32px ;
    width: 100%;
    }
    
    .navigation a{
        
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-weight: 50px;
        padding-left:30px;
        
        }
        .a{
            height: 1OOpx;
            width: 150px;
        }


    .image{
        height:2em;
        width:0.5em;
    padding-left:40em;
    }
    
    .paragraphe{
        font-family: monospace;
        font-size: 3em;
        height: 20em;
        width: 10em;
        padding-left:4em;
    }

    b{
        color: chocolate;

        }

    #paragraphe1{
        font-size:0.3em;
        font-family: serif;
    }

    button{
        margin-left: 20px;
        background-color: chocolate;
        color: #070707;
        height: 3em;
        width: 6em;
        border-color: transparent;
        }

    #pk{
        position: absolute;
    padding-bottom: 9em;
    

    }
    .C{
        font-size:0.5em ;
        color: black;
        padding-top:5em;
    }

    .P4{
       
        padding-left: 0.5em;
       
        
    }
    .botton{
        margin-left: 20px;
    background-color: chocolate;
    color: #070707;
    height: 3em;
    width: 6em;
    float: top;
    }
   
    
    
    
 
    .img1{
        position: absolute;
        margin-left: 90em;
        margin-top:1em;

    }
    .disimg1{
        position: absolute;
        font-size: 1.5em;
        margin-left: 59em;
        margin-top:0.5em;
        width: 380px;
        
    }

    .img2{
        position: absolute;
        padding-left: 60em;
       
        margin-left:5em;
    
    }
    .disimg2{
        position: absolute;
        font-size:1.5em;
        width: 380px;
    padding-left: 40em;
   margin-top: 0.5em;
    padding-bottom:2em;
    }


   
    .img3{
        position: absolute;
        padding-left:30em;
       
        margin-bottom:5em ;
    }
    .disimg3{
        
        position:absolute;
        font-size:1.5em;
       padding-left:20em; 
       width:   400px;
       margin-top:0.5em;
    }

.img4{
    margin-left: 3em;
}


    .disimg4{
        
        padding-bottom:2em;
        width:4em;
        margin-left:2em;
        
    }

    .h3{
        font-size: 1.5em;
        width:1em;
    }

    .pimg4{
        font-size:1.5em;
        padding-bottom: 2em;
       
        width: 400px;
    }

    .pfooter{
        background-color: #f7f3ee;
        width: 100%;
        height: 8em;
        padding-left: 100px;
        padding-top: 150px ;
        font-size:1.5em;
        }